<%= link_to "New Tool", new_tool_url(@tool), class: "button is-primary is-large" %>
<div class="columns is-multiline" style="margin-top: 5rem;">
    <% @tools.each do |tool| %>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-square">
                        <!--<a id="<%= tool.id %>">-->
                            <%= image_tag tool.images[0] %>
                        <!--</a>-->
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            <%= tool.name %>
                        </h4>
                        <p>
                            <%= tool.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal" id="modal_<%= tool.id %>">
            <div class="modal-background" role="presentation"></div>
            <div class="modal-content">
                <div class='carousel carousel-animated carousel-animate-slide'>
                    <div class='carousel-container'>
                    <% tool.images.each do |image| %>
                        <div class='carousel-item has-background is-active'>
                        <%= image_tag image, width: 310, class: "is-background" %>
                            <div class="title"><%= tool.description %></div>
                        </div>
                    <% end %>
                    </div>
                    <div class="carousel-navigation is-overlay">
                        <div class="carousel-nav-left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="carousel-nav-right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div> -->
    <% end %>
</div>