<div class="columns features is-multiline">
    <div class="column is-3 modal-button">
        <div class="card card-content">
            <div class="content">
                <h4>New Tool:</h4>
                <div class="card-image">
                    <% if flash[:errors] %>
                        <div class="notification is-danger">
                            <ul>
                                <% flash[:errors].each do |m| %>
                                    <li><%= m %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <%= form_for(@tool, url: {action: "create"}) do |f| %>
                        <div class="field">
                            <div class="control">
                                <%= f.text_field :name, class: "input", placeholder: "Name" %>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <%= f.text_field :url, class: "input", placeholder: "URL" %>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <%= f.text_area :description, class: "textarea", placeholder: "Description" %>
                            </div>
                        </div>
                        <div class="field field-file">
                            <div class="file">
                                <label class="file-label">
                                    <%= f.file_field :images, class: "file-input", onchange: "readURL(this);" %>
                                        <br>
                                        <span class="file-cta">
                                            <span class="file-label">
                                                Choose file …
                                            </span>
                                        </span>
                                </label>
                            </div>
                            <div>
                                <img class="uploaded-image" src="http://placehold.it/120" alt="your image" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <%= f.submit "Create", class: "button is-link" %>
                            </div>
                        </div>
                        <% end %>
                </div>
            </div>
        </div>
    </div>

    <% @tools.each do |tool| %>
        <div class="column is-3">
            <div class="card is-shady">
                <div class="card-image">
                    <figure class="image is-square">
                        <!--<a id="<%= tool.id %>">-->
                            <%= image_tag tool.images[0] %>
                        <!--</a>-->
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h4>
                            <%= tool.name %>
                        </h4>
                        <p>
                            <%= tool.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal" id="modal_<%= tool.id %>">
            <div class="modal-background" role="presentation"></div>
            <div class="modal-content">
                <div class='carousel carousel-animated carousel-animate-slide'>
                    <div class='carousel-container'>
                    <% tool.images.each do |image| %>
                        <div class='carousel-item has-background is-active'>
                        <%= image_tag image, width: 310, class: "is-background" %>
                            <div class="title"><%= tool.description %></div>
                        </div>
                    <% end %>
                    </div>
                    <div class="carousel-navigation is-overlay">
                        <div class="carousel-nav-left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="carousel-nav-right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div> -->
    <% end %>
</div>
