<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey"></h3>
                <p class="subtitle has-text-grey">Resend confirmation instructions</p>
                <div class="box">
                    <figure class="avatar">
                        <%= image_tag "logo-circle.png" %>
                    </figure>
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                        <div class="notification is-danger"><%= alert %><%= devise_error_messages! %></div>
                        <div class="field">
                            <div class="control">
                                <%= f.email_field :email, 
                                    autofocus: true, autocomplete: "email", 
                                    class:"input is-large", 
                                    placeholder: "Email", 
                                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
                                %>
                            </div>
                        </div>


                        <%= f.submit "Resend confirmation instructions", class:"button is-block is-info is-large is-fullwidth" %>
                    <% end %>
                </div>
                <p class="has-text-grey">
                    <%= render "devise/shared/links" %>
                </p>
            </div>
        </div>
    </div>
</section>
