<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          <%= @user.name %>
          <label for="file-input">
            <a href="/users/edit"><span class="fa fa-cog"></span></a>
          </label>
        </p>
        <p class="subtitle is-6">
          @<%= @user.username %>
        </p>
      </div>

      <div class="media-right">
      <% unless current_user.id == @user.id %>
        <% if current_user.follow?(@user) %>
          <%= render "toggle_follow", key: "unfollow" %>
        <% else %>
          <%= render "toggle_follow", key: "follow" %>
        <% end %>
      <% end %>

      <% if current_user.id == @user.id %>
        <%= link_to "Followers", root_url, class: "button is-link"  %>
        <%= link_to "Following", root_url, class: "button is-link"  %>
      <% end %>
      </div>
    </div>

    <div class="content">
      <%= @user.bio %>
      <br>
      <time>Since: <%= @user.created_at.strftime("%Y-%m-%d") %></time>
    </div>
  </div>
</div>

  <div class="box card">
  <% @user.projects.each do |project| %>
    <article class="post">
    <a href="/projects/<%= project.id %>" style="display: block;">
    <h4>
    <%= project.title %>
    </h4>
    <div class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <%= project.created_at.strftime("%Y-%m-%d") %> &nbsp;
            <% if project.category %>
            <span class="tag"><%= project.category %></span>
            <% end %>
            <span class="tag <%= status_class(project.status) %>">
              <%= project.status %>
            </span>
          </p>
        </div>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light">
          <i class="fa fa-file"></i> <%= project.posts.count %>
        </span>
      </div>
    </div>
    </a>
    </article>
<% end %>
</div>
