<section class="hero is-success is-fullheight">
    <div>
        <div class="container has-text-centered">
            <div class="column">
                <h3 class="title has-text-grey"></h3>
                <p class="subtitle has-text-grey">Change your password</p>
                <div class="box">
                    <figure class="avatar">
                        <%= image_tag "logo-circle.png" %>
                    </figure>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                        <%= f.hidden_field :reset_password_token %>
                        <div class="notification is-danger"><%= alert %><%= devise_error_messages! %></div>
                        <div class="field">
                            <div class="control">
                                <%= f.password_field :password,
                                    autocomplete: "off",
                                    class:"input is-large",
                                    placeholder: "New Password"
                                    %>
                                <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %>
                                <br />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <%= f.password_field :password_confirmation,
                                    autocomplete: "off",
                                    class:"input is-large",
                                    placeholder: "Confirm new password"
                                %>
                            </div>
                        </div>


                        <%= f.submit
                            "Change my password",
                            class:"button is-block is-primary is-large is-fullwidth"
                        %>
                    <% end %>
                    <p>
                    <%= render "devise/shared/links" %>
                </p>
                </div>
            </div>
        </div>
    </div>
</section>
