<div class="card is-shady" id="new-post-card">
    <%= form_for(@post, url: posts_url(@post)) do |f| %>
        <div class="card-image">
            <figure class="">
                <img class="uploaded-image" style="display: none;" src="http://placehold.it/512" />
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <div class="card-image">
                    <% if flash[:errors] %>
                        <div class="notification is-danger">
                            <ul>
                                <% flash[:errors].each do |m| %>
                                    <li>
                                        <%= m %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="field">
                        <div class="control" data-step="3" data-intro="Tell us something about what you're working on" >
                            <%= f.text_area :text, class: "textarea", placeholder: "" %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expended">
                            <div
                                class="select is-fullwidth"
                                data-step="2"
                                data-intro="Select your project"
                            >
                                <%= f.select :project_id do %>
                                    <option disabled selected>Choose a project:</option>
                                    <% @projects.each do |p| -%>
                                        <%= content_tag(:option, p.title, value: p.id) %>
                                        <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="field" data-step="4" data-intro="Upload your first image">
                        <div class="image-upload">
                            <label for="file-input">
                                <span class="fa fa-camera"></span>
                            </label>

                            <%= f.file_field :image, id: "file-input", onchange: "readImageURL(this);", accept: "image/*" %>
                        </div>
                    </div>
                    <div class="field" data-step="5" data-intro="Submit your post!">
                        <div class="control submit">
                            <%= f.submit "Create", class: "button is-link" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
