<div class="card is-shady new-post">
    <%= form_tag(posts_url, multipart: true) do %>
        <div class="card-image">
            <figure class="">
                <img class="uploaded-image" style="display: none;" src="http://placehold.it/512" />
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <div class="card-image">
                    <% if flash[:errors] %>
                        <div class="notification is-danger">
                            <ul>
                                <% flash[:errors].each do |messsage| %>
                                    <li>
                                        <%= messsage %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="field">
                        <div class="control">
                            <%= text_area_tag :text, nil, { class: "textarea", placeholder: "What are you working on?" } %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expended">
                            <div
                                class="select is-fullwidth"
                            >
                                <%= select_tag :project, options_for_select(@projects.collect{ |p| [p.title, p.id] }), { class: "select2-with-create-option" } %>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="image-upload">
                            <label for="file-input">
                                <span class="fa fa-camera" style="margin-top: 8px;"></span>
                            </label>

                            <%= file_field_tag 'image', id: "file-input", onchange: "readImageURL(this);", accept: "image/*" %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control submit">
                            <%= submit_tag "Create", class: "button is-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
