<div class="card is-shady new-post">
    <%= form_for(@post, url: posts_url(@post)) do |f| %>
        <div class="card-image">
            <figure class="">
                <img class="uploaded-image" style="display: none;" src="http://placehold.it/512" />
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <div class="card-image">
                    <% if flash[:errors] %>
                        <div class="notification is-danger">
                            <ul>
                                <% flash[:errors].each do |m| %>
                                    <li>
                                        <%= m %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="field">
                        <div class="control">
                            <%= f.text_area :text, class: "textarea", placeholder: "What are you working on?" %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control is-expended">
                            <div
                                class="select is-fullwidth"
                            >
                                <%= f.select :project, nil, {}, { class: "select2-with-create-option" } do %>
                                    <option disabled selected>choose/create a project</option>
                                    <% @projects.each do |p| -%>
                                        <%= content_tag(:option, p.title, value: p.id) %>
                                        <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="image-upload">
                            <label for="file-input">
                                <span class="fa fa-camera"></span>
                            </label>

                            <%= f.file_field :image, id: "file-input", onchange: "readImageURL(this);", accept: "image/*" %>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control submit">
                            <%= f.submit "Create", class: "button is-primary" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
