<% @posts.each do |post| %>
    <div class="card">
        <div class="header">
        <% if with_user_data %>
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48 user-avatar">
                        <%= user_avatar(post.user) %>
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%= post.user.name %></p>
                    <p class="subtitle is-6">
                    <%= link_to "@#{post.user.username}", profile_url(post.user.id) %>
                    </p>
                </div>
            </div>
        <% end %>
        </div>
        <% if post.image.attached? %>
            <div class="card-image">
                <figure class="image">
                    <%= image_tag post.image %>
                </figure>
            </div>
        <% end %>
        <div class="card-content">
            <div class="content">
                <% unless post.text.empty? %>
                    <%= post.text %>
                    <hr />
                <% end %>
                <p>
                    <strong>32 Likes</strong>
                </p>
                <time datetime="2018-1-1"><%= post.created_at %></time>
            </div>
            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item has-text-centered">
                        <a href="">
                            <i class="material-icons">favorite_border</i>
                        </a>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <input
                                id="<%= post.id %>"
                                class="input is-medium comment"
                                type="text"
                                placeholder="Add a comment . . ."
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% comments = post.limited_comments(page: 1) %>

        <div id="comments_container_<%= post.id %>">
            <% comments[:chunk].each do |comment| %>
                <div class="comment_section">
                    <%= comment.text %>
                </div>
            <% end %>
        </div>

        <input
            type="text"
            class="hidden"
            autocomplete="off"
            id="page_<%= post.id %>"
            value="1"
        >

        <input
            type="button" value="More.."
            id="<%= post.id %>"
            class="more-comments <%= "hidden" if comments[:next] == 0 %>"
        >

    </div>
<% end %>
