<% @posts.each do |post| %>
    <div class="card post-card">
        <div class="header">
        <% if with_user_data %>
        <div class="media">
            <a href="<%= profile_url(post.user.id) %>" style="display:block;">
            <div class="media-left">
                <figure class="image is-48x48 user-avatar">
                    <%= user_avatar(post.user) %>
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= post.user.name %></p>
                <p class="subtitle is-6">
                <%= link_to "@#{post.user.username}", profile_url(post.user.id) %>
                </p>
            </div>
            </a>
            <% if post.project %>
            <a class="button is-link is-small" href="/projects/<%= post.project.id %>">
            <%= post.project.title %>
            </a>
            <% end %>
            <%# <time datetime="2018-1-1"><%= post.created_at.strftime('%b / %Y') %></time>
        </div>
        <% end %>
        </div>
        <% if post.image.attached? %>
            <div class="card-image">
                <figure class="image">
                    <%= image_tag post.image %>
                </figure>
            </div>
        <% end %>
        <div class="card-content">
            <% unless post.text.empty? %>
                <div class="post-content"><%= post.text %></div>
            <% end %>
            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item has-text-centered">
                        <i class="material-icons like" id="<%= post.id %>">
                            <%= favorite_icon(post) %>
                        </i>
                        <strong class="likes-size" id="likes-size-<%= post.id %>">
                            <%= post.get_ups.size %> Likes
                        </strong>
                    </div>
                </div>
            </div>
        </div>

        <% comments = post.limited_comments(page: 1) %>

        <div id="comments_container_<%= post.id %>">
            <% comments[:chunk].each do |comment| %>
                <div class="comment-section">
                    <strong><%= comment.user.name %>: </strong><%= comment.text %>
                </div>
            <% end %>
        </div>
        <input
            type="text"
            class="hidden"
            autocomplete="off"
            id="page_<%= post.id %>"
            value="1"
        >
        <div class="has-text-centered more-comments <%= "hidden" if comments[:next] == 0 %>" id="<%= post.id %>">
            <i class="material-icons" id="<%= post.id %>">more_horiz</i>
        </div>
        <div>
            <div class="">
                <div class="">
                    <div class="field">
                        <div class="control">
                            <input
                                id="<%= post.id %>"
                                class="input add-comment"
                                type="text"
                                placeholder="Add a comment . . ."
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<% end %>
