<div class="box content">
  <% if flash[:errors] %>
      <div class="notification is-danger">
          <ul>
              <% flash[:errors].each do |m| %>
                  <li><%= m %></li>
              <% end %>
          </ul>
      </div>
  <% end %>
  <%= form_for(@project, url: {action: "create"}) do |f| %>
      <div class="field">
          <div class="control is-expanded">
              <%= f.text_field :title, class: "input", placeholder: "Name" %>
          </div>
      </div>
      <div class="field">
          <div class="control is-expanded">
              <%= f.text_field :pattern_url, class: "input", placeholder: "Pattern url" %>
          </div>
      </div>
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= f.select :category do %>
              <option disabled selected>Category:</option>
              <% @categories.each do |c| -%>
                <%= content_tag(:option, c, value: c) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control is-expended">
          <div class="select is-fullwidth">
            <%= f.select :status do %>
              <option disabled selected>Status:</option>
              <% @statuses.each do |s| -%>
                <%= content_tag(:option, s, value: s) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field">
        <% unless @tools.empty? %>
            <div class="select is-multiple is-fullwidth">
              <%= f.select :tool_ids, {}, { include_hidden: false }, { :multiple => true } do %>
                <% @tools.each do |t| -%>
                  <%= content_tag(:option, t.name, value: t.id) %>
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="field">
          <div class="control">
              <%= f.submit "Create", class: "button is-primary" %>
          </div>
      </div>
  <% end %>
</div>
