<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @project.title %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @project.posts.where(auto_generated: false).last&.text %>
    </div>
  </div>
  <footer class="card-footer">
  <% if @project.user === current_user %>
    <%= render "edit" %>
    <%= render "edit_tools" %>
  <% else %>
    <%= render "details" %>
    <%= render "tools" %>
  <% end %>
  </footer>
</div>

<div class="box content">
  <%= render "tools" %>
  <div class="timeline">
    <header class="timeline-header">
      <span class="tag is-medium is-success"><%= Project::Status::NEW%></span>
    </header>
    <div class="timeline-item">
      <div class="timeline-marker is-success is-icon">
        <i class="fa fa-plus"></i>
      </div>
      <div class="timeline-content">
        <p class="heading"><%= @project.created_at.strftime("%Y-%m-%d") %></p>
        <p class="has-text-grey"><%= @project.user.username %> started a new project</p>
      </div>
    </div>

    <%= render "posts" %>

  </div>
</div>
