
<div class="card post-card">
    <% if post.image.attached? %>
        <div class="card-image">
            <figure class="image">
                <%= image_tag post.image %>
            </figure>
        </div>
    <% end %>

    <% if with_user_data %>
        <div class="media m-0 pt-4 pb-2 px-4">
            <a href="<%= profile_url(post.user.id) %>" style="display:block;">
                <div class="media-left">
                    <figure class="image is-48x48 user-avatar">
                        <%= user_avatar(post.user) %>
                    </figure>
                </div>

                <div class="media-content">
                    <div class="is-flex">
                        <p class="title is-6 mr-2"><%= post.user.name %></p>
                        <p class="subtitle is-6">
                            <%= link_to "@#{post.user.username}", profile_url(post.user.id) %>
                        </p>
                    </div>
                    <time datetime="2018-1-1"><%= post.created_at.strftime('%b / %Y') %></time>
                </div>
            </a>

            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item has-text-centered">
                        <i class="material-icons like" id="<%= post.id %>">
                            <%= favorite_icon(post) %>
                        </i>
                        <strong class="likes-size" id="likes-size-<%= post.id %>">
                            <%= post.get_ups.size %> Likes
                        </strong>
                    </div>
                    <div class="level-item has-text-centered is-hidden-desktop">
                        <i class="material-icons share-button" data-url="<%= post.url %>" data-text="<%= post.text %>">
                            share
                        </i>
                    </div>
                </div>
            </div>

            <% if post.project %>
                <a class="button is-link is-small" href="/projects/<%= post.project.id %>">
                    <%= post.project.title %>
                </a>
            <% end %>
        </div>
    <% end %>

    <div class="card-content pt-0 pb-4 px-4">
        <% unless post.text.empty? %>
            <p class="post-content"><%= post.text %></p>
        <% end %>
    </div>

    <% unless post.comments.empty? %>
        <%= render 'comments/index', comments: post.limited_comments(page: 1), post_id: post.id %>
    <% end %>

    <%= render 'comments/create', post_id: post.id %>
</div>
