<nav class="level navbar is-fixed-top ">
    <p class="level-item has-text-centered">
        <%= link_to "Home", root_url, class: "navbar-item is-hidden-mobile"  %>
    </p>
    <p class="level-item has-text-centered">
        <%= link_to "Profile", profile_url(current_user.id), class: "navbar-item is-hidden-mobile"  %>
    </p>
    <p class="level-item has-text-centered">
        <%= image_tag "logo.png", alt: "Yart Logo" %>
    </p>
    <p class="level-item has-text-centered">
        <%= link_to "New project", new_project_url, class: "button is-link is-hidden-mobile"  %>
    </p>
    <p class="level-item has-text-centered">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-item is-hidden-mobile") %>
    </p>
</nav>
