<!DOCTYPE html>
<html  class="<%= user_signed_in? ? 'signed-in' : 'signed-out' %>">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yart</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/manifest.json" rel="manifest" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.vapidPublicKey = new Uint8Array(<%= Rails.application.credentials.vapid_public_key %>);</script>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<head>
<body>
    <%= render "header" %>

    <div class="container wrapper">
        <%= yield %>
    </div>

    <%= render "mobile_navbar" %>
</body>
</html>
